<html>
  <head>
    <title>Drim login</title>
  </head>
  <body>
    {% match topbar -%}
      {% when Some with (data) %}
        Welcome {{ data }}!
      {% when None %}
        Welcome Anon!
    {% endmatch %}
    <br>
    <form method="post">
      Email:<br>
      <input name="email" value="{{email}}"><br>
      Password:<br>
      <input type="password" name="password"><br>
      Remember me:
      <input type="checkbox" name="remember_me" value="true"><br>
      <input type="submit" value="Sign in">
    </form>
  </body>
</html>
